# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# ===========================
# VS Code
# ===========================
.vscode/
**/.vscode/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# Operating system files
# ===========================
.DS_Store
Thumbs.db